[*.cs]

# CA2007: Consider calling ConfigureAwait on the awaited task
dotnet_diagnostic.CA2007.severity = silent

# CA1721: Property names should not match get methods
dotnet_diagnostic.CA1721.severity = silent

# MVC1005: Cannot use UseMvc with Endpoint Routing.
dotnet_diagnostic.MVC1005.severity = silent

# CS0618: Type or member is obsolete
dotnet_diagnostic.CS0618.severity = silent

# CA1822: Mark members as static
dotnet_diagnostic.CA1822.severity = silent

# CA1062: Validate arguments of public methods
dotnet_diagnostic.CA1062.severity = silent

# CA1052: Static holder types should be Static or NotInheritable
dotnet_diagnostic.CA1052.severity = silent

# IDE0058: Expression value is never used
csharp_style_unused_value_expression_statement_preference = discard_variable:silent
